body {
  font-family: sans-serif;
}

h1 {
  font-style: bold;
}

h2 {
  text-align: left;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  border: 1px solid black;
}

.container>div {
  /* background: darkblue; */
  /*   color: white; */
  font-weight: bold;
  padding: 5px;
  height: 1280px;
}

.center {
  grid-column: 4 / 10;
  /* text-align: center; */
  border: 1px lightgray solid;
  padding-left:50px;
  padding-right: 50px;
}

.top {
  border: 1px lightgray solid;
}

.nav {
  text-align: left;
  grid-column: 2 / 4;
  color: black;

}

.right {
  grid-column: 10 / 13;
  grid-row: auto;
}

.search {
  border-radius: 25px;
  background: lightgray;
  height: 25px;
  justify-content: center;
  padding-top: 12px;
  color: gray;
}

.bubble {
  border-radius: 25px;
  background: lightgray;
  padding: 20px;
  width: 2fr;
  height: full;
  text-align: center;
  margin: 25px 10px 25px 10px;
}

.trends {
  grid-column: 10;
  grid-row: 6;
/*  border: 1px solid black; */
  text-align: left;
}

.icon {
  height: 25px;
  width: 25px;
  align-content: flex-start;
  padding-right: 25px;

}

.image-txt-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}


.tweet {
  background:#1DA1F2;
  color: white;
}

.image-cropper {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.handle {
  display: flex;
  align-items: right;
  flex-direction: column;

}

.tweetbox {
display: flex;
justify-content: space-between;
padding-left:50px;
padding-right: 50px;
}

.profile {
display: flex;
justify-content: flex-start;
align-content: center; /* Not working how I want it to */
padding-left:50px;
padding-right: 50px;
}

.tweets2 {
  display: grid;
  grid-column-start: 30%;
  padding-left: 75px;
  padding-bottom: 50px;
}

.tweet-content {
  grid-column: 2 / 7 ;
  justify-content: flex-start;
}

.tweetimage {
  grid-column: 6;

}
