h1 {
  font-style: italic;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid black;
}

.container>div {
  background: darkblue;
  color: white;
  font-weight: bold;
  padding: 5px;
  height: 1280px;
}

.center {
  grid-column-start: SPAN 6;
  text-align: center;
  background-color: red;
}

.nav {
  grid-column-start: SPAN 3;
  text-align: right;

}
